name: pr-build

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/pr-build.yml
      - stubs/**
      - pyproject.toml
      - requirements.txt
      - tox.ini

jobs:
  test:
    uses: coatl-dev/workflows/.github/workflows/tox.yml@v5
    with:
      python-versions: |
        3.9
        3.10
        3.11
        3.12
